{% extends "base.html" %}

{% block title %}Confirmation de Suppression{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                <p>Êtes-vous sûr de vouloir supprimer cette visite ? Cette action est irréversible.</p>
                <button type="submit" class="btn btn-danger">Supprimer</button>
                <a href="{% url 'gestion_visites' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
